@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  position: relative;
  padding: 15px 40px;
  background: red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  transition: .5s;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
a:hover {
  background: rgb(143, 143, 143);
  color: red;
  letter-spacing: 0.2em;
  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
}
